*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111827;
    color:#fff;
    padding:20px;
}

.container{
    max-width:420px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.card{
    background:#1f2937;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 5px 10px rgba(0,0,0,.3);
}

.balance{
    font-size:42px;
    text-align:center;
    font-weight:bold;
    margin-top:10px;
}

.timer{
    text-align:center;
    font-size:26px;
    font-weight:bold;
    color:#facc15;
    margin:15px 0;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#22c55e;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

button:disabled{
    background:#6b7280;
    cursor:not-allowed;
}

.small{
    margin-top:10px;
    text-align:center;
    font-size:14px;
    color:#cbd5e1;
}
